/********************************
GENERAL STYLES
********************************/
body {
  background-color: #ccc;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.hide {
  display: none;
}
/********************************
iSCROLL TEMPLATE
********************************/
#header {
  position:absolute;
  z-index:2;
  top:0; left:0;
  width:100%;
  height:45px;
  line-height:45px;
  background-color:#333;
  padding:0;
  color:#eee;
  font-size:20px;
  text-align:center;
}

#footer {
  position:absolute;
  z-index:2;
  bottom:0;
  left:0;
  width:100%;
  height:48px;
  background-color:#333;
  padding:0;
  color:#eee;
  font-size:20px;
  text-align:center;
  line-height:48px;
}

#wrapper {
  position:absolute; z-index:1;
  top:45px;
  bottom:48px;
  left:-9999px;
  width:100%;
  background:#aaa;
  overflow:auto;
}

#scroller {
  position:absolute;
  z-index:1;
  /* -webkit-touch-callout:none; */
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  width:100%;
  padding:0;

  ul {
  list-style:none;
  padding:0;
  margin:0;
  width:100%;
  text-align:left;

  li {
    padding:10px;
    height:40px;
    line-height:40px;
    border-bottom:1px solid #ccc;
    border-top:1px solid #fff;
    background-color:#fafafa;
    font-size:14px;
    }
  }
}

#myFrame {
  position:absolute;
  top:0; left:0;
}

/*
 Pull to Refresh
*/

#pullDown {
  background:#fff;
  height:40px;
  line-height:40px;
  padding:5px 10px;
  border-bottom:1px solid #ccc;
  font-weight:bold;
  font-size:14px;
  color:#888;

  .pullDownIcon {
    display:block; float:left;
    width:40px; height:40px;
    background:url(../images/pull-icon@2x.png) 0 0 no-repeat;
    -webkit-background-size:40px 80px; background-size:40px 80px;
    -webkit-transition-property:-webkit-transform;
    -webkit-transition-duration:250ms;
    -webkit-transform:rotate(0deg) translateZ(0);
  }
}

#pullDown.flip .pullDownIcon {
  -webkit-transform:rotate(-180deg) translateZ(0);
}

#pullDown.loading .pullDownIcon {
  background-position:0 100%;
  -webkit-transform:rotate(0deg) translateZ(0);
  -webkit-transition-duration:0ms;

  -webkit-animation-name:loading;
  -webkit-animation-duration:2s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function:linear;
}

@-webkit-keyframes loading {
  from { -webkit-transform:rotate(0deg) translateZ(0); }
  to { -webkit-transform:rotate(360deg) translateZ(0); }
}

input{
  -webkit-appearance: none; /*disables inner shadows on iOS*/
}

/********************************
MULTIPLE CHOICE TEMPLATE
********************************/

#multiple {
  width: 180px;
  margin: 0 auto;
  padding: 10px 70px 100px 70px;
  border: 1px solid red;

  span {
    margin-left: 20px;
    font-size: 21px;
  }

  input[type="radio"]{
    width: 36px;
    height: 36px;
    -webkit-border-radius: 50%;
    position: relative;
    top: 15px;
    border: 2px solid #333;
  }

  input[type="radio"]:checked{
    background-color: #f35477;
    -webkit-box-shadow: inset 0px 5px 0px #fff,
                        inset 0px 18px 0px #333;
  }

  #other-field input[type="text"]{
    border: none;
    padding: 10px 20px;
    font-size: 13px;
    position: absolute;
    margin-top: 30px;
  }

  input.submit {
    width: 190px;
    position: relative;
    color:#fff;
    padding: 16px;
    font-size: 16px;
    line-height: 16px;
    background:#f35477;
    border: none;
    top: 80px;
    &:active {
      background: #333 !important;
    }
  }
}

textarea#log {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
  background-color: #ddd;
  font-size: 12px;
  padding: 10px;
  min-height: 50px;
  position: relative;
  top: 50px;
  -webkit-border-radius: 5px;
  resize: none;
}


