$primary: 		#1fbdbe;
$red: 			#f26657;
$white:			#FFF;
$black: 		#000;
$dark-grey:		lighten($black, 35%);
$light-grey:	lighten($black, 50%);

$ui: 			#f9f7eb;
$border:		lighten($black, 80%);
$bg: 			#FFF;

$helvetica: 	"Helvetica Neue", Helvetica, Arial, sans-serif; 

$placehold: 	#BBB;
