$primary: 		#0A5FFF;
$red: 			#FA1F4F;
$white:			#FFF;
$black: 		#000;
$dark-grey:		lighten($black, 35%);
$light-grey:	lighten($black, 50%);
$grey: 			#929292;

$ui: 			#F8F8F8;
$border:		lighten($black, 80%);

$helvetica: 	"Helvetica Neue", Helvetica, Arial, sans-serif; 

$placehold: 	#BBB;
