/********************************
GENERAL STYLES
********************************/
html {
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: $helvetica;
  font-weight: 300;
  -webkit-user-select:none;
  -webkit-text-size-adjust:none;
}

::-webkit-input-placeholder {
   color: $placehold;
   font-style: normal;
   font-weight: normal;
}


/********************************
RESETS
********************************/
* {
  -webkit-box-sizing: border-box; /* apply a natural box layout model to all elements */
}

input.ui-input-text,
textarea.ui-input-text {
  margin: 0;
  background: #fff !important;
  -webkit-appearance: none; /* disables inner shadows on iOS */
}

.ui-input-search, div.ui-input-text {
  margin: 0 !important;
}

.ui-focus,
.ui-btn:focus {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none ;
}
input {
    outline: none 0!important;
    -webkit-appearance: none;
}

/********************************
HELPER STYLES
********************************/
.clearfix {
  zoom: 1;
  &:before, &:after { content: ""; display: table; }
  &:after { clear: both; }
}

.hide {
  display: none;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/********************************
SCROLL
********************************/
#wrapper {
  position: absolute;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  z-index:  1;
  top:  65px;
  bottom: 65px;
  left: 0;
  width:  100%;
}

#scroller {
  min-height: 100%;
  -webkit-transform: translateZ(0);
  width: 100%;
  padding: 30px 0 25px 0;
}

/********************************
LAYOUT
********************************/
#header {
  position: absolute;
  z-index:9;
  width: 100%;
  top: 0px;
  left: 0px;
  height: 65px;
  background-color: $ui;
  border-bottom: 1px solid $border;
}

#footer {
  position: absolute;
  width: 100%;
  bottom: 0px;
  left: 0px;
  height: 65px;
  background-color: $ui;
  border-top: 1px solid $border;
  ul {
    list-style-type: none;
    padding: 20px 0 0 0;
    li {
      display: inline-block;
      width: 24%;
      text-align: center;
      color: $grey;
      font-size: 14px;
    }
  }
}

/********************************
TYPOGRAPHY
********************************/
h1 {
  text-align: center;
  color: $black;
  font-size: 18px;
  padding: 20px 0 0 0;
}

.active {
  color: $red !important;
}

/********************************
BUTTONS
********************************/
.button {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
}

.primary-fill {
  background-color: $primary;
  color: $white;
}

.secondary-fill {
  background-color: $red;
  color: $white;
}

.primary {
  color: $primary;
  border: 1px solid $primary;
}

.secondary {
  color: $red;
  border: 1px solid $red;
}

/********************************
HOME
********************************/
.home {
  padding-top: 100px !important;
}
.check-out, .check-in {
  width: 240px;
  padding: 16px 0;
  margin: 0 auto;
  font-size: 18px;
}

.check-out {
  margin-bottom: 25px;
}

