<div id="header">
	<div class="back">Cancel</div>
  
  <h1>Add Book</h1>
</div>

<div id="wrapper">
  <div id="scroller" class="container add-scroll long-page">
    <div id="custom-art"><img src=""></div>
		<div class="no-icon"></div>
    <div id="addPhoto" class="button sm-btn secondary">Add Photo</div>

    <input id="title" class="first-input" type="text" placeholder="Book Title" />
    <input id="author" type="text" placeholder="Book Author" />
    <select id="numberAvailable" name="amount" data-role="none">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>



    <div id="addBook" class="button primary-fill">Add Book</div>


  </div> {{!-- /#scroller --}}
</div> {{!-- /#wrapper --}}

