<div id="header">
  <div class="back">Cancel</div>
  <h1>Add Book</h1>
</div>

<div id="wrapper">
  <div id="scroller" class="add-book">

    <div class="title-art">
      <img src="{{ISBN.cover.medium}}">
      <h2>{{ISBN.title}}</h2>
      <h3>{{#each ISBN.authors}}
	  {{name}}
	  {{/each}}</h3>
      <h4>ISBN Number</h4>
      <p>Number Available</p>
    </div>

    <div id="add-book" class="ab-btn button primary-fill">Add Book</div>
    <div id="edit-book" class="ab-btn button primary">Edit Quantity</div>
    <div id="remove-book" class="ab-btn button secondary">Remove Book</div>

  </div> {{!-- /#scroller --}}
</div> {{!-- /#wrapper --}}

