  <div id="multiple">

      <div>
          <input type="radio" name="option" id="choice1" value="Pizza">
          <span>Pizza</span>
      </div>

      <div>
          <input type="radio" name="option" id="choice2" value="Wings">
          <span>Wings</span>
      </div>

      <div>
          <input type="radio" name="option" id="choice3" value="Waffles">
          <span>Waffles</span>
      </div>

      <div>
          <input type="radio" name="option" id="choice-own" value="Other">
          <span>Other</span>
      </div>

      <div id="other-field" class="hide">
        <input name="name" id="myInput" type="text" placeholder="I want to eat ..." />
      </div>

      <div>
        <input type="submit" class="submit" id="submit" value="Feed Me" />
      </div>

  </div>

  <textarea cols="40" rows="2" id="log" placeholder="Food Log"></textarea>