<div id="header">
	<div class="back">Cancel</div>
  
  <h1>Add Book</h1>
</div>

<div id="wrapper">
  <div id="scroller" class="container">
	
		<div class="no-art">
			<div class="no-icon"></div>
		</div>
	
	<div id="addPhoto" class="button primary">Add Photo</div>
    
    <input id="title" type="text" placeholder="Book Title" />
    <input id="author" type="text" placeholder="Book Author" />
    <input id="numberAvailable" type="text" placeholder="Quantity Available" />

    <div id="addBook" class="button primary">Add Book</div>


  </div> {{!-- /#scroller --}}
</div> {{!-- /#wrapper --}}

