<div id="header">
	<div class="back">Cancel</div>
  
  <h1>Add Book</h1>
</div>

<div id="wrapper">
  <div id="scroller" class="container add-scroll">
    <div id="custom-art"><img src=""></div>
		<div class="no-icon"></div>
    <div id="addPhoto" class="button sm-btn secondary">Add Photo</div>

    <input id="title" class="first-input" type="text" placeholder="Book Title" />
    <input id="author" type="text" placeholder="Book Author" />
    <input id="numberAvailable" type="text" placeholder="Quantity Available" />

    <div id="addBook" class="button primary-fill">Add Book</div>


  </div> {{!-- /#scroller --}}
</div> {{!-- /#wrapper --}}

