<div id="header">
  <div class="back">Cancel</div>
  <h1>Add Book</h1>
</div>

<div id="wrapper">
  <div id="scroller" class="add-book">

    <div class="title-art">
      <div id="custom-art"><img src=""></div>
      {{#if image-url}}
        <img src="{{image-url}}">
      {{else}}
        <div class="no-icon"></div>
        <div id="addPhoto" class="button sm-btn secondary">Add Photo</div>
      {{/if}}
      <h2>{{ISBN.title}}</h2>
      <h3>
        {{#each ISBN.authors}}
        {{name}}
        {{/each}}
      </h3>
      <p id="numberAvailable">Number Available: 1</p>
    </div>

    <div id="add-book" class="ab-btn button primary-fill">Add Book</div>
    <div id="edit-quantity" class="ab-btn button primary">Edit Quantity</div>
    {{!-- <div id="remove-book" class="ab-btn button secondary">Remove Book</div> --}}

  </div> {{!-- /#scroller --}}
</div> {{!-- /#wrapper --}}

