<div id="header" class="extended-header">
  <h1>Books</h1>
  <div id="filter-wrap">
  	<div class="filter">
		<span id="filt-all" class="selected">All Books</span>
  		<span id="filt-available">Available</span>
  		<span id="filt-checked">Checked Out</span>
  	</div>
	</div>
</div>

<div id="wrapper" class="booklist-wrap">
  <div id="scroller">
  	<ul id="booklist">
  		<li>
  			<img src="http://placehold.it/50x75">
  			<div class="book-meta">
  				<h2 class="truncate-two">Surprise Attack of Jabba the Puppet: An Origami Yoda Book Longer Title</h2>
  				<h3 class="truncate">Author</h3>
  				<p>Number Available</p>
  			</div>
  		</li>

  	</ul>

  </div> {{!-- /#scroller --}}
</div> {{!-- /#wrapper --}}

