<div id="header" class="extended-header">
	<div id="add" class="right-btn">Add</div>
  <h1>Books</h1>
  <div id="filter-wrap">
  	<div class="filter">
		<span id="filt-all" class="selected">All Books</span>
  		<span id="filt-available">Available</span>
  		<span id="filt-checked">Checked Out</span>
  	</div>
	</div>
</div>

<div id="wrapper" class="booklist-wrap">

</div> {{!-- /#wrapper --}}

