<div id="header">
  <div class="back">Books</div>
  <h1>Check In</h1>
</div>

<div class="checkin">

    <div class="title-art">
      <img src="http://placehold.it/118x160">
    </div>

    <div class="title-info">
      <h2>Title</h2>
      <h3>Author</h3>
      <h4>ISBN Number</h4>
      <p>Number Available</p>
      <div class="check-btn button disabled">Check In</div> {{!-- on name select remove .disabled and add .primary-fill --}}
    </div>

    <div class="clearfix"></div>
</div>

<div class="name-header">Pick your name</div>

  <div id="wrapper" class="check-wrap">
     <div id="scroller" class="check-scroller">
     	{{!-- Insert names here --}}
     	names go here <br>
     	names go here <br>
     	names go here <br>
     	names go here <br>
     	names go here <br>
     	names go here <br>
     	names go here <br>
     	names go here <br>
     	names go here <br>
     	names go here <br>
     	names go here <br>
     	names go here <br>
     	names go here <br>
     	names go here <br>
     	names go here <br>
     	names go here <br>
     	names go here <br>
     	names go here <br>
     	names go here <br>
     	names go here <br>
  </div> {{!-- /#scroller --}}
</div> {{!-- /#wrapper --}}

