<div id="header">
  <div class="back">Books</div>
  <h1>Check Out</h1>
</div>

<div class="check">

    <div class="title-art">
      <img src="{{ISBN.cover.medium}}">
    </div>

    <div class="title-info">
      <h2>{{ISBN.title}}</h2>
      <h3>
          {{#each ISBN.authors}}
          {{name}}
          {{/each}}
      </h3>
      <h4>ISBN Number</h4>
      <p>Number Available</p>
      <div id="checkOut" class="check-btn button disabled">Check Out</div> {{!-- on name select remove .disabled and add .primary-fill --}}
    </div>

    <div class="clearfix"></div>
</div>

<div class="name-header">Pick your name</div>

  <div id="wrapper" class="check-wrap">

</div> {{!-- /#wrapper --}}

