<div id="header">
	<h1>Class Library</h1>
</div>

<div id="wrapper">
	<div id="scroller" class="home">
		<div id="checkOut" class="check-out button primary-fill">Check Out</div>
		<div id="checkIn" class="check-in button secondary">Check In</div>
	</div> {{!-- /#scroller --}}
</div> {{!-- /#wrapper --}}