<div id="header">
  <h1>Login</h1>
</div>

<div id="wrapper" class="bottomless">
  <div id="scroller" class="container">

    <h2>First things first.</h2>
    <input id="login-email" type="email" autocomplete="off" placeholder="Email" />
    <input id="login-pass" type="password" placeholder="Password" />

    <div id="login" class="button primary-fill">Sign In</div>
    <div id="login-have-account" class="button primary">Create an Account</div>
    <div id="forgot">Forgot your password?</div>
{{!--
    <div id="disclaimer">
      By creating an account you agree to our <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a>.
    </div>
--}}

  </div> {{!-- /#scroller --}}
</div> {{!-- /#wrapper --}}

