<div id="header">
  <h1>Settings</h1>
</div>

<div id="wrapper">
  <div id="scroller" class="container">

    {{!-- <input id="set-name" class="first-input" type="text" autocorrect="off" placeholder="Name" value="Dimitar Karaytchev" />--}}
    <input id="set-email" type="email" autocomplete="off" placeholder="Email" value="{{username}}"/>
    <input id="set-current" type="password" placeholder="Current Password" />
    <input id="set-new" type="password" placeholder="New Password" />
    <input id="set-new-confirm" type="password" placeholder="Confirm New Password" />

    <div id="save" class="button primary">Update Account</div>
    <div id="help" class="button primary">Help Me</div>
    <div id="logout" class="button secondary-fill">Log Out</div>

  </div> {{!-- /#scroller --}}
</div> {{!-- /#wrapper --}}
