<div id="header">
  <h1>Settings</h1>
    <div class="done">Done</div>
</div>

<div id="wrapper" class="bottomless">
  <div id="scroller" class="container">

    <input id="set-name" class="first-input" type="text" autocorrect="off" placeholder="Name" />
    <input id="set-email" type="email" autocomplete="off" placeholder="Email" />
    <input id="set-current" type="password" placeholder="Current Password" />
    <input id="set-new" type="password" placeholder="New Password" />

    <div id="logout" class="button secondary-fill">Log Out</div>
    <div id="help" class="button primary">Help Me</div>

  </div> {{!-- /#scroller --}}
</div> {{!-- /#wrapper --}}
