<div id="header">
  <div class="cancel">Cancel</div>
  <h1>Sign Up</h1>
</div>

<div id="wrapper" class="bottomless">
  <div id="scroller" class="container">

    <h2>This'll be quick.</h2>
    {{!<input id="sign-name" class="first-input" type="text" autocorrect="off" placeholder="Name" /> }}
    <input id="sign-email" type="email" autocomplete="off" placeholder="Email" />
    <input id="sign-pass" type="password" placeholder="Password" />
    <input id="sign-pass-confirm" type="password" placeholder="Confirm Password" />

    <div id="create-account" class="button primary-fill">Create Account</div>
    <div id="have-account" class="button primary">I have an Account</div>

    <div id="disclaimer">
      By creating an account you agree to our <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a>.
    </div>

  </div> {{!-- /#scroller --}}
</div> {{!-- /#wrapper --}}

