<div id="header">
	<h1>Student List</h1>
	<div id="add" class="right-btn">Add</div>
</div>

<div id="wrapper">
  <div id="scroller" class="students">
  	<ul id="studentlist">
	{{#each this}}
  		<li id="{{objectId}}">
  			<p class="first-name">{{Name}}</p> 
			<p data-id="{{objectId}}" class="delete-name">Delete</p>
  		</li>
	{{/each}}

  	</ul>

  </div> {{!-- /#scroller --}}
</div> {{!-- /#wrapper --}}