<div id="header">
	<h1>Student List</h1>
	<div id="add" class="right-btn">Add</div>
</div>

<div id="wrapper">
  <div id="scroller" class="students">
  	<ul id="studentlist">	
	{{this}}
	{{#each this}}
	whyyyyy
  		<li>
  			<p class="first-name">{{Name}}</p> 
  		</li>
	{{/each}}

  	</ul>

  </div> {{!-- /#scroller --}}
</div> {{!-- /#wrapper --}}