<div id="header" class="extended-header">
  <h1>Student</h1>
  <div id="filter-wrap">
  	<div class="filter">
		<span id="filt-current" class="selected">Current Books</span>
  		<span id="filt-past">Past Books</span>
  	</div>
	</div>
</div>

<div id="wrapper" class="booklist-wrap">

</div> {{!-- /#wrapper --}}