 <div id="scroller" class="students">
  <ul id="studentlist">
{{#each this}}
    <li id="{{objectId}}">
      <p data-id="{{objectId}}" class="first-name">{{Name}}</p> 
    </li>
{{/each}}

  </ul>

</div> {{!-- /#scroller --}}